<!-- Harmonogram Section -->
<section id="events">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Harmonogram</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <ul class="timeline">
                    <li>
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="/img/events/1.png" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>Obřad</h4>
                                <h4 class="subheading">11. července 2026, v 11 hodin</h4>
                                <p>Kostel sv. Jakuba, Brno</p>
                            </div>
                            <div class="timeline-body">
<!--                                <p class="text-muted">Své ano si řekneme na obřadu</p>-->
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="/img/events/2.png" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>Svatební Hostina</h4>
                                <h4 class="subheading">Bude upřesněno</h4>
                                <h6>Bude upřesněno</h6>
                            </div>
                            <div class="timeline-body">
<!--                                <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed posuere.</p>-->
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="/img/events/3.png" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>Párty</h4>
                                <h4 class="subheading">Bude upřesněno</h4>
                                <h6>Bude upřesněno</h6>
                            </div>
                            <div class="timeline-body">
<!--                                <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed posuere.</p>-->
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
