<!-- Dotazy Section -->
<section id="FAQ" class="bg-light-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Časté dotazy</h2>
            </div>
        </div>
        <div class="col-lg-8 col-lg-offset-2 text-center">
            <h4 class="service-heading">Co si vzít na sebe?</h4>
            <p class="largepad text-muted">Svatební obřad bude v kostele, prosíme tedy hosty o formální oblečení.
                Prosíme, vyhněte se bílým oděvům, aby nevznikl dojem, že jste součástí svatebního páru.
                Na hostinu pak můžete dojít v čemkoliv, co Vám bude pohodlné. </p>

            <h4 class="service-heading">Jak se tam dostaneme?</h4>
            <p class="largepad text-muted">Svatba je v centru Brna, které je velmi dobře dopravně obslouženo.
            Můžete dojet MHD, vlakem, na kole nebo dojít pěšky.</p>

            <h4 class="service-heading">Chci na svatbu jet autem, ale nevím, kde zaparkuji.</h4>
            <p class="largepad text-muted">Prosíme, zajistěte si.</p>

            <h4 class="service-heading">Mohu na svatbu přivést někoho dalšího?</h4>
            <p class="largepad text-muted">Svatba je kapacitně omezená, prosím nevoďte osoby mimo ty vypsané na pozvánce.</p>

            <h4 class="service-heading">Jsem alergický na určitý typ potravin.</h4>
            <p class="largepad text-muted">Prosím, alergie indikujte ve formuláři.
                Oběd je plánován formou rautu, věřím, že jsme schopni většinu alegií nebo intolerancí pokrýt.</p>

            <h4 class="service-heading">Co mám přinést za svatební dar?</h4>
            <p class="largepad text-muted">Věříme, že svatba není o darech ale o času stráveném spolu.
            Pokud přeci jen chcete dar přinést, budeme vděční za peněžité dary (bude k dispozici i QR kód).</p>

            <h4 class="service-heading">Nabalil jsem si hodně věcí, kam je mohu uložit?</h4>
            <p class="largepad text-muted">Před obřadem bude k dispozici prostor pro hostinu, věci si lze po dobu obřadu
            nechat v šatně.</p>

            <h4 class="service-heading">Je na svatbě zajištěno ubytování?</h4>
            <p class="largepad text-muted">Mimo dohodnuté případy není.
                Pokud plánujete přespat v Brně, zajistěte si prosím ubytování.</p>

            <h4 class="service-heading">Mohu na svatbě fotit?</h4>
            <p class="largepad text-muted">Při obřadu prosím nefoťte, na místě budou profesionální fotografové.
                Fotky Vám rádi nasdílíme.</p>

            <h4 class="service-heading">Mohou na svatbu děti?</h4>
            <p class="largepad text-muted">Pokud jsou na pozvánce, tak ano.</p>

            <h4 class="service-heading">Kdo mi pohlídá na svatbě děti?</h4>
            <p class="largepad text-muted">Vy.</p>

        </div>
    </div>
</section>
